@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root {
    --titlecol: #FF9F1C;
    --bgcol: #011627;
    --divcol: #FF9F1C;
    --qtext: #011627;
    --inputcol: #DEE7E7;
    --outerbuttoncol: #FF9F1C;
    --innerbuttoncol: #011627;
    --selbuttonbg: #F1F7ED;
    --selbuttontext: #011627;
    --optcol: #FF9F1C;
}


*{
    font-size: 5vh;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--bgcol);
}

.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: var(--titlecol)
}
.timer{
    text-align: center;
    font-size: 7vh;
    margin-top:2%;
    margin-bottom: 5%;
}

input{
    width: 0;
    height: 0;
    display: none;
}

label{
    font-size: 4vh;
    width: 100%;
    height: 100%;
}

.buttonbox{
    display: flex;
    justify-content: center;
}

.data{
    margin-top:2%;
    font-size: 10vh;
}

.option{
    text-align: center;
    border: none;
    border-radius: 10px;
    background-color: var(--innerbuttoncol);
    font-size: 5vh;
    width: 25vw;
    margin: 1%;
    color: var(--optcol);
}

.questiontext{
    text-align: center;
    background-color: var(--divcol);
    padding: 5vh;
    max-width: 60vw;
    border-radius: 50px;
    color: var(--qtext)
}

.optioncard{
    margin-top: 5%;
    width: 60vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.selected{
    color: var(--selbuttontext);
    background-color: var(--selbuttonbg);
}

button{
    margin-right: 1%;
    margin-left: 1%;
    border: none;
    font-size: 100%;
    height: 6vw;
    border-radius: 30px;
    width: 20vw;
    background-color: var(--outerbuttoncol);
}


.thetext{
    text-align: center;
}


@media only screen and (max-width: 768px) and (orientation:portrait){
    .data{
        font-size: 5vh;
        margin-top: 2vh;
        word-wrap: normal;
        text-align: center;
    }
    .timer{
        font-size: 5vh;
    }
    .optioncard{
        display: flex;
        width: 70vw;

    }
    .option{
        margin-top: 1vh;
        width: 60vw;
    }
    .questiontext{
        text-align: center;
        background-color: var(--divcol);
        padding: 5vh;
        border-radius: 50px;
        max-width: 70vw;
        width: 70vw;
    }
    .optioncard{
        margin-top: 0;
    }
    .thetext{
        font-size: 4vh;
    }
    button{
        width: 40vw;
        height: 8vh;
    }
}