@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root {
    --titlecol: #222222;
    --bgcol: #4F646F;
    --divcol: #B7ADCF;
    --inputcol: #DEE7E7;
    --buttoncol: #DEE7E7;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    color: var(--titlecol)
}

body{
    background-color: var(--bgcol);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maincard{
    margin-top: 5vh;
    padding-top: 3vh;
    padding-bottom: 5vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--divcol);
    width: 80vw;
}

h1{
    margin-bottom: 3vh;
}

table{
    width: 70vw;
    border-collapse: collapse;
}

th, td{
    text-align: center;
    border: 1px solid; 
    font-size: 3vh;

}

button{
    background-color: var(--buttoncol);
    border-radius: 20px;
    border: none;
    height: 7.5vh;
    margin-top: 3vh;
    width: 20vw;
    font-size: 3vh;
}

